.app-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: var(--app-primary) transparent;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}