* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  scrollbar-width: auto;
  scrollbar-color: var(--app-primary) transparent;
}

:root {
  --app-gradient-one: #1B1B1B;
  --app-gradient-two: #343434;
  --app-black: #1B1B1B;
  --app-primary: #a7c957;
  --app-azure-white: #F0FFFF;
  --app-border-radius: 6px;
  --app-text-color: var(--app-azure-white)
}

/* scrollbar config */

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
}

/* scrollbar config */

body {
  background: linear-gradient(to right, var(--app-gradient-one), var(--app-gradient-two));
  background-size: 200% 100%;
  padding: 20px;
  color: var(--app-azure-white);
}